@model PagedList.IPagedList<PL.Models.Profile.DialogViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">
    <h2>Dialogs</h2>
    <hr />
</div>
@if (Model.Count() == 0)
{
    <h3><b>You don't have dialogs with other users</b></h3>
}
@foreach (var m in Model)
{
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <a href="@Url.Action("ShowUser","Profile",new {id = m.InterLocutor.Id })"><img src="@Url.Action("GetImage", "Profile", new { Id = m.InterLocutor.Id})" class="img-circle img-responsive" /> </a>
        </div>

        <div class="col-xs-8">
            <div class="row">
                <h3>
                    @Html.ActionLink(string.Format("{0} {1}",@m.InterLocutor.FirstName,@m.InterLocutor.LastName) ,"SendMessage","Message",new {id = m.InterLocutor.Id },null)
                </h3>
            </div>

            <div class="row">
                <small>
                    <i>@m.LastMessage.Sender.FirstName posted @m.LastMessage.SendTime</i>
                </small>
            </div>
            <div class="row"><h4> @m.LastMessage.Text</h4></div>
        </div>

    </div>
}
<h3>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</h3>

@Html.PagedListPager(Model, page => Url.Action("Dialogs", "Message", new { page }))
