@model PL.Models.Message.MessagesViewModel
@{
    ViewBag.Title = "SendMessage";
}
<style>
    .scrollbar {
        max-height: 330px !important;
    }
</style>
<br />
<div class="container">
    <div class="scrollbar" id="scrollbar">
        @foreach (var m in Model.Messages)
        {
            if (m.SenderId == Model.FromUser.Id)
            {
                <div class="message right">
                    <img src="@Url.Action("GetImage", "Profile", new {id = m.SenderId})" />
                    <div class="bubble">
                        @m.Text
                    </div>
                </div>

            }
            else
            {
                <div class="message">
                    <img src="@Url.Action("GetImage", "Profile", new {id = m.ReceiverId})" />
                    <div class="bubble">
                        @m.Text
                    </div>
                </div>
            }
        }
    </div>
    <hr />
    @using (Ajax.BeginForm("SendMessage", null, new AjaxOptions
                                                    { UpdateTargetId = "scrollbar",
                                                      InsertionMode = InsertionMode.InsertAfter },
                                                      new { @class = "chat-form", @id = "messageForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("senderId", Model.FromUser.Id)
        @Html.Hidden("receiverId", Model.ToUser.Id)
        @Html.TextArea("messageText", new { @id = "messageArea", @placeholder = "Write a message...", @onclick= "ScrollBottom()" })
    }
</div>
@section scripts
{
    <script>
        $(function() {
            $("#messageArea").keypress(function(e) {
                if (e.which == 13 && !e.shiftKey) {
                    if ($.trim($("#messageArea").val())) {
                        $(this).closest("form").submit();
                        $("#messageArea").val("");
                    }
                    $('#scrollbar').animate({ scrollTop: document.getElementById("scrollbar").scrollHeight }, 'slow');
                    return false;

                }
            });
            $('#scrollbar').animate({ scrollTop: document.getElementById("scrollbar").scrollHeight }, 'slow');
            //$("div.scrollbar").scrollTop($('div.message:last').offset().top);
        });

        //function ScrollBottom() {
        //    $('#scrollbar').animate({ scrollTop: $('#scrollbar').height() }, 'slow');
        //}
    </script>
}


@*@model PL.Models.Message.MessagesViewModel
@{
    ViewBag.Title = "Messages";
}

<script src="~/Scripts/customJS.js"></script>
@foreach (var m in Model.Messages)
{
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">                   
            <img src="@Url.Action("GetImage", "Profile", new { Id = m.SenderId})" class="img-circle img-responsive"/>
        </div>

        <div class="col-xs-8">
            <div class="row">
                <h3>
                    @m.Sender.FirstName
                </h3>
            </div>

            <div class="row">
                <small>
                    <i>Posted @m.SendTime.ToShortTimeString()</i>
                </small>
            </div>
            <div class="row"><h4> @m.Text</h4></div>
        </div>
                
    </div>
}
<div id="new_message"></div> 
        
<div class="text-center">
    @using (Ajax.BeginForm("SendMessage", "Message", FormMethod.Post,new AjaxOptions
    {
        UpdateTargetId = "new_message",
        InsertionMode = InsertionMode.ReplaceWith,
        AllowCache = false
    }))
    {
        @Html.Hidden("receiverId", @Model.InterlocutorId);
        @Html.Hidden("senderId", @Model.UserId);
        <div class="row">
            <div class="col-md-6 col-md-offset-3 form-group"> @Html.TextArea("messageText", new
                                                              {
                                                                  @rows = 5,
                                                                  @class = "form-control",
                                                                  @id = "text",
                          
                                                              })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-6 form-group">
                            
                <button type="submit" class="btn btn-success btn-block glyphicon glyphicon-send" id="messageSubmit">
                    Send
                </button>
            </div>
        </div>
    }
</div>

<style>
    textarea {
        resize: none;
    }
</style>*@
