@model PL.Models.Message.MessagesViewModel
@{
    ViewBag.Title = "SendMessage";
}
<style>
    .scrollbar {
        max-height: 330px !important;
    }
</style>
<br />
<div class="container">
    <div class="scrollbar" id="scrollbar">
        @foreach (var m in Model.Messages)
        {
            if (m.SenderId == Model.FromUser.Id)
            {
                <div class="message right">
                    <img src="@Url.Action("GetImage", "Profile", new {id = m.Sender.Id})" />
                    <div class="bubble">
                        @m.Text
                    </div>
                </div>

            }
            else
            {
                <div class="message">
                    <img src="@Url.Action("GetImage", "Profile", new {id = m.Sender.Id})" />
                    <div class="bubble">
                        @m.Text
                    </div>
                </div>
            }
        }
    </div>
    <hr />
    @using (Ajax.BeginForm("SendMessage", "Message", FormMethod.Post, new AjaxOptions
    { UpdateTargetId = "scrollbar",
        InsertionMode = InsertionMode.InsertAfter
    },
        new { @class = "chat-form", @id = "messageForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("senderId", Model.FromUser.Id)
        @Html.Hidden("receiverId", Model.ToUser.Id)
        @Html.TextArea("messageText", new { @id = "messageArea", @placeholder = "Write a message..."})
    }
</div>
@section scripts{
    <script>
        $(function () {
            var msg = $.connection.conversationHub;
        
            msg.client.sendMessage = function (name, photoId, date, text) {
                $(".scrollbar").append('<div class="message">' +
                    '<img src="/Profile/GetImage?id=' + photoId + '" />' + 
                    ' <div class="bubble">' + text +
                    "</div>" +
                    "</div>");
            }

            $("#messageArea").keypress(function (e) {
                if (e.which == 13 && !e.shiftKey) {
                    if ($.trim($("#messageArea").val())) {
                        $(this).closest("form").submit();
                        $("#messageArea").val("");
                        $('#scrollbar').animate({ scrollTop: document.getElementById("scrollbar").scrollHeight }, 'slow');
                    }
                    return false;
                }
            });
            $('#scrollbar').animate({ scrollTop: document.getElementById("scrollbar").scrollHeight }, 'slow');
            //$("div.scrollbar").scrollTop($('div.message:last').offset().top);

            $.connection.hub.start().done(function () {

            });
        });
    </script> 
}
