<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">Logo</a>
        </div>
        <li class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">


            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    @*@Ajax.ActionLink("Search","Search","Profile",null,new AjaxOptions()
                    {
                        UpdateTargetId = "main_container",
                        LoadingElementId = "loading",
                        OnBegin = "hideContent",
                        OnComplete = "unhideContent"
                    })*@
                </li>
                <li><a>Hi @User.Identity.Name</a></li>
                <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
            }
            else
            {
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
            }
        </ul>
        </div>
    </div>
</nav>





@*<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_collapse_1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("LOM", "Index", "Profile", null, htmlAttributes: new { @class = "navbar-brand" })
    </div>
    <div class="collapse navbar-collapse" id="navbar_collapse_1">
        <ul class="nav navbar-nav navbar-right text-center">
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    @Ajax.ActionLinkWithGlyphicon("fa fa-search", "Search", "Search", "Profile", new AjaxOptions
                   {
                       UpdateTargetId = "main_container",
                       InsertionMode = InsertionMode.Replace,
                       LoadingElementId = "loading",
                       AllowCache = false,
                       OnBegin = "hideContent",
                       OnComplete = "unhideContent"
                   })
                </li>
            }
            <li>
                @Html.Partial("_LoginMenu")
            </li>
        </ul>
    </div>
</nav>*@



