@model PL.Models.Profile.ProfileEditModel
@{
    ViewBag.Title = "Profile Edit";
    Layout = null;
}

<button class="btn btn-info btn-lg" style="width: 200px" type="button" data-toggle="modal" data-target="#myModal">Edit</button>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                
                @*Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"})*@
                @using (Ajax.BeginForm("Edit",null,new AjaxOptions(){UpdateTargetId = "test"}, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new {@class = "col-md-3 control-label"})
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(m => m.FirstName, null, new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new {@class = "col-md-3 control-label"})
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(m => m.LastName, null, new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.DateOfBirth, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.DateOfBirth, new {htmlAttributes = new {@class = "form-control", @placeholder = "DD-MMM-YYYY"}})
                            @Html.ValidationMessageFor(m => m.DateOfBirth, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.City, new {@class = "col-md-3 control-label"})
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.City, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(m => m.City, null, new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.MobilePhoneNumber, new {@class = "col-md-3 control-label"})
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.MobilePhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(m => m.MobilePhoneNumber, null, new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Status, new {@class = "col-md-3 control-label"})
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Status, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(m => m.Status, null, new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Choose Image", new {@class = "control-label col-md-3"})
                        <div class="col-md-6">
                            <input type="file" name="file" accept=".jpg, .png, .gif" class="btn btn-default btn-block"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-3">
                            <button type="submit" class="btn btn-default btn-block btn-success">Save changes</button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer"><button id="close-btn" class="btn btn-default" type="button" data-dismiss="modal">Close</button></div>
        </div>
    </div>
</div>

