@model PL.Models.Profile.ProfileEditModel
@{
    ViewBag.Title = "Profile Edit";
    Layout = null;
}

<div id="user-info">
    @using (Ajax.BeginForm("Edit", "Profile", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "user-info" }, new { id="edit-form",@class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "DD-MMM-YYYY" } })
                @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MobilePhoneNumber, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.MobilePhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.MobilePhoneNumber, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Status, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Choose Image", new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                <input type="file" name="file" accept=".jpg, .png, .gif" class="btn btn-default btn-block"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-6 col-md-3">
                <button type="submit" id="submitEditForm" class="btn btn-default btn-block btn-success" @*onclick="document.getElementById('close-btn').click()"*@>Save changes</button>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $('#submitEditForm').on('click', function (e) {
        var t = new FormData($('#edit-form').get(0));
        $.ajax({
            type: "POST",
            url: '@Url.Action("Edit", "Profile")',
            contentType: false,
            processData: false,
            data: t
        });
    });
</script>
 

